<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
</head>
<body id="body" onclick="closePopUp()">
<header>

    <div>Martim Monteiro</div>
    <nav>
        <a href="{% url 'portfolio:home' %}">Home</a>
        <a href="{% url 'portfolio:sobremim' %}">Sobre Mim</a>
        <a href="{% url 'portfolio:projetos' %}">Projetos</a>
        <a href="{% url 'portfolio:web' %}">Web</a>
        <a href="{% url 'portfolio:blog' %}">Blog</a>
        <a href="{% url 'portfolio:quiz' %}">Quiz</a>
        <a href="{% url 'portfolio:contacto' %}">Contacto</a>
        {% if request.user.is_authenticated %}
            <a href="{% url 'portfolio:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'portfolio:login' %}">Login</a>
        {% endif %}

    </nav>
</header>

<main>

    <script>
    var popupOn = false;
    function popUp(texto) {
    console.log(texto);
        document.getElementById("myPopup").innerHTML = texto;
        if(popupOn) {
            var popup = document.getElementById("myPopup");
            popup.classList.remove("show");
            popup.classList.remove("hide");
            return;
        }
        popupOn = false;
        var popup = document.getElementById("myPopup");
        popup.classList.add("show");
        popup.classList.remove("hide");

    }
    function closePopUp() {
        if(popupOn == true) {
            var popup = document.getElementById("myPopup");
            popup.classList.remove("show");
            popup.classList.add("hide");
            popupOn = false;
            return;

        }
        if(document.getElementById("myPopup").classList.contains("show")) {
            popupOn = true;
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        startTime();
        fetch("https://api.ipma.pt/open-data/forecast/meteorology/cities/daily/1110600.json").then(response => response.json()).then(data => {
            document.getElementById("temp").innerHTML ="Temperatura Lisboa " + data.data[0].tMin + "º - " + data.data[0].tMax + "º,&nbsp&nbsp&nbsp";
            console.log(data);
        });
    });

    function startTime() {
        var today = new Date();
        var day = today.getDate();
        var month = today.getMonth() + 1;
        var year = today.getFullYear();
        var hours = today.getHours();
        var minutes = today.getMinutes();
        var seconds = today.getSeconds();
        minutes = checkTime(minutes);
        seconds = checkTime(seconds);
        document.getElementById('clock').innerHTML =   hours + ":" + minutes + ":" + seconds + " " + day + "-" + month + "-" + year +",&nbsp&nbsp&nbsp";
        setTimeout(startTime, 1000);
    }

    function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }
</script>

    <div class="flex-wrapper">
	    {% block main %}
	    {% endblock main %}
        {% load static %}
           <link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">
    </div>

    <footer><div id="clock"></div><div id="temp"></div>Martim Monteiro, ULHT 2022<button style="margin-left: 1%">Mapa do site</button></footer>
</main>




</body>
</html>