<!-- web.html -->

{% extends 'portfolio/layout.html' %}

{% block main %}
<div style="margin:auto;font-size: 36px;padding: 10%;">Programação Web</div>
<div style="margin:auto;font-size: 20px;padding: 10%;">
    {% if request.user.is_authenticated %}
        <a href="lista?target=tecnologia">EDITAR</a>
    {% endif %}
</div>


    <div class="page-section about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>Front End</h4>
                        <div class="line-dec"></div>
                        <br>
                        <br>
                        <div class="row">
                            {% for tecnologia in tecnologias %}
                                {% if tecnologia.tipo == "Front-End" %}
                                    <div class="col-md-3 col-sm-6 col-xs-12 popup">
                                        <span class="popuptext" id="myPopup">A Simple Popup!</span>
                                        <div class="service-item first-service" onclick="popUp()">
                                            <h4>{{tecnologia.acronimo}}</h4>
                                            <h5>{{tecnologia.nome}}</h5>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>Back End</h4>
                        <div class="line-dec"></div>
                        <br>
                        <br>
                        <div class="row">
                            {% for tecnologia in tecnologias %}
                                {% if tecnologia.tipo == "Back-End" %}
                                    <div class="col-md-3 col-sm-6 col-xs-12 popup">
                                        <div class="service-item first-service" onclick="popUp()">
                                            <h4>{{tecnologia.acronimo}}</h4>
                                            <h5>{{tecnologia.nome}}</h5>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div style="text-align: center;;font-size: 36px;padding: 10%;box-shadow: 0px 0px 15px #cdcdcd;">Laboratorios<p></p> {% if request.user.is_authenticated %}
        <a style="font-size:20px" href="lista?target=laboratorio">EDITAR</a>
    {% endif %}</div>

<div class="page-section about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>Programação Web Praticas</h4>
                        <div class="line-dec"></div>
                        <br>
                        <br>
                        <div class="row">
                            {% for lab in laboratorios %}
                                    <div class="col-md-3 col-sm-6 col-xs-12 popup">
                                        <a href="{{lab.url}}">
                                            <div class="service-item first-service">
                                                <h4>Lab {{lab.numero}}</h4>
                                                <h3>{{lab.nome}}</h3>
                                        </div>
                                        </a>
                                    </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div style="text-align: center;;font-size: 36px;padding: 10%;box-shadow: 0px 0px 15px #cdcdcd;">Noticias<p></p> {% if request.user.is_authenticated %}
        <a style="font-size:20px" href="lista?target=noticia">EDITAR</a>
    {% endif %}</div>

<div class="page-section about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>Medium</h4>
                        <div class="line-dec"></div>
                        <br>
                        <br>
                        <div class="row">
                            {% for not in noticias %}
                                    <div  class="col-md-3 col-sm-6 col-xs-12 popup">
                                        <a href="{{not.link}}">
                                            <div class="service-item first-service" {% if not.imagem.url != None %} style="background-image:url({{not.imagem.url}});background-size: cover, 100%;background-position: center;" {% endif %}>
                                                <h4>{{not.nome}}</h4>
                                            </div>
                                        </a>
                                    </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}